@import '~bootstrap/scss/bootstrap';

body {
  align-items: center;
  background-color: #9b9e9c;
  font-family: cursive;
}

h1 {
  text-align: center;
}
/*
.grid {
  height: 100px;
  width: 100px;
}
*/
.gameBox {
  height: 100px;
  // width: 100px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.grid {
  padding: 30px;
  text-align: center;
}

.v {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.h {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
